:root {
	font-size: 62.5%;
}

body {
	font-family: "Open Sans", sans-serif;
	font-size: 1.6rem;
}

header p,
td,
small {
	text-align: center;
}

th {
	font-weight: 400;
	text-align: left;
}

.current-player {
	font-weight: 900;
}
